<html>
	<head>
		<title>{{title}}</title>
	</head>
	<body>
		<header>{{title}}</header>
		<p>{{body}}</p>
		<ul>
			{{#each list}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
		<footer>{{footer}}</footer>
	</body>
</html>